- var promoData = [{thumb: '1', label: 'Big catalog update', title: 'New shooting range software', video: '28'}, {thumb: '2', label: 'Big catalog update', title: 'New shooting range devices'}, {thumb: '3', label: 'Distributors', title: 'Successfully cooperate'}];

- var autoPlayTimeout = 4000;

.promo-container.carousel-container(
	data-promo='1'
	data-nav='1'
	data-loop='1'
	data-autoplay='1'
	data-timeout='5000'
	style='--timeout: 5s')
	.promo.owl-carousel.carousel
		each promoItem in promoData
			.promo-item.d-flex.justify-content-center.align-items-end(
				style='background-image:url(t/'+ promoItem.thumb +'.jpg)')

				if promoItem.video
					video.promo-item-video(
						preload
						autoplay
						loop
						muted
						playsinline)
						source(
							src='t/'+ promoItem.video +'.webm'
							type='video/webm')
						source(
							src='t/'+ promoItem.video +'.mp4'
							type='video/mp4')

				.container.d-flex.justify-content-center
					.promo-item-inner
						.promo-item-label= promoItem.label
						.promo-item-title.h1= promoItem.title

				a.promo-item-more.d-flex.justify-content-center.align-items-center(href='/')
					span.promo-item-more-text
						| See more
						include ./i/arrow.svg