extends ./layout/skeleton.pug

block meta
	title Distributors

block top
	- var currentMenuItem = 'distributors';
	+header('overlay')

	+title({title: 'Distributors', bg: '21'})

block content
	main.main
		.container
			.d-md-flex
				aside.main-side
					+menuSide([{id: 1, title: 'Global partners'}, {id: 2, title: 'Local distributors'}, {id: 3, title: 'There is no distributor in yout country?'}, {id: 4, title: 'You want ti be a distributor?'}], 1)

				.main-content
					table.product-col-table.table.table-striped
						colgroup
							col.product-col-flag
							col.product-col-title
							col.product-col-phone
							col.product-col-web
							col.product-col-mail

						thead
							tr
								th
								th Name
								th Telephone
								th Web
								th E-mail

						tbody
							- var distrList = [{flag: 'at', name: 'Rangemaster Systems', tel: '+43-699-104-03-204', url: 'http://www.rangemaster.at', mail: 'info@rangemaster.at'}, {flag: 'fr', name: 'Laporte', tel: '+33(0)493657752', url: 'www.laporte.biz', mail: 'f.legall@laporte.biz'}, {flag: 'fl', name: 'Nastakiekko OY', tel: '+358 207 209 699', url: 'www.nastatrap.com', mail: 'nasta@nastatrap.com'}, {flag: 'de', name: 'Spieth GMBH & CO KG', tel: '07356 – 9376 – 0', url: 'http://www.spieth.com', mail: 'info@spieth.de'}];
							each distrItem in distrList
								tr
									td.product-col-flag
										img(
											width='26'
											src='i/flags/' + distrItem.flag + '.svg'
											alt)
									td.product-col-title(data-title='Name')= distrItem.name
									td.product-col-phone(data-title='Telephone')= distrItem.tel
									td.product-col-web(data-title='Web')= distrItem.url
									td.product-col-mail(data-title='E-mail')= distrItem.mail