extends ./layout/skeleton.pug

block meta
	title Home

block top
	+header('overlay')
	include ./blocks/promo/_base.pug

block content
	section.widget._text._dark
		.container
			.row
				.col-md-4
					h1.h2
						span.text-letter Rangemaster
						| 
						span.text-letter Systems
				.col-md-8
					.h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum fermentum pretium. Praesent at consequat neque. Praesent ut lectus rutrum, gravida turpis eget, lobortis libero. Donec est lorem, blandit quis imperdiet ut, placerat sed ante. Proin suscipit cursus ultricies. Quisque ac varius lectus, ut ultricies felis. Donec eu tellus sem.

	.row.no-gutters
		a.col-md-6.btn.btn-lg.btn-secondary(href='/') In catalog
		a.col-md-6.d-none.d-md-block.btn.btn-lg.btn-primary(href='/') About company

	+promoGrid([{thumb: '11', label: 'Downloads', title: 'Shooting range software'}, {thumb: '4', label: 'Catalog', title: 'Shooting range devices'}, {thumb: '12', label: 'Distributors', title: 'Successfully cooperate'}, {thumb: '13', label: 'Competitions', title: 'Keep track of the competition'}])

	section.widget._text._gray.product-grid-container
		.product-grid-carousel.carousel-container.container(
			data-margin='30'
			data-items='4'
			data-nav='1'
		)
			.product-grid-title Featured products:
			.product-grid.owl-carousel.carousel
				- var productList = [{thumb: '5', title: '&quot;PPMU&quot; Phono Pull Unit - Multi-Use', price: '595,00'}, {thumb: '5', title: '&quot;PPMU&quot; Phono Pull Unit - Multi-Use', price: '595,00'}, {thumb: '5', title: '&quot;PPMU&quot; Phono Pull Unit - Multi-Use', price: '595,00'}, {thumb: '5', title: '&quot;PPMU&quot; Phono Pull Unit - Multi-Use', price: '595,00'}, {thumb: '5', title: '&quot;PPMU&quot; Phono Pull Unit - Multi-Use', price: '595,00'}];
				each productItem in productList
					a.product-grid-item.d-flex.flex-column.justify-content-between(href='/')
						figure.product-grid-item-thumb.d-flex.justify-content-center.align-items-center
							img.img-fluid(
								src='t/'+ productItem.thumb +'.jpg'
								alt
							)
						.product-grid-item-content
							.product-grid-item-title!= productItem.title
							.product-grid-item-price!= productItem.price + '&nbsp;€'
							.product-grid-item-more(href='/') See more

	+promoGrid([{type: 'wide', thumb: '6', label: 'Multifunctional remote control', title: 'New product is coming soon'}, {thumb: '7', label: 'New product is coming soon', title: 'Multifunctional remote control'}, {thumb: '8', label: 'News', title: 'Results of the Finland competition'}, {thumb: '9', label: 'New product', title: 'The new small final scoreboard'}, {thumb: '10', label: 'Multifunctional remote control', title: 'New product is coming soon'}], 'with-gutter')