mixin header(type)
	- var _type = type ? ' _' + type : '';

	header(class='header' + _type)
		.header-container.container
			.row.align-items-center.justify-content-between
				figure.header-logo.col-lg-2.col-xl-3
					+logo('header')

				nav.header-menu-container.menu-container.navbar.navbar-expand-lg.navbar-dark.col-md
					#navbarSupportedContent.collapse.navbar-collapse.justify-content-between
						+menu('header')
						.header-nav.d-flex.align-items-center
							include ./nav-icons.pug

							span.header-nav-item
								span.header-nav-lang
									a.header-nav-lang-current(href='/') Eng
									span.header-nav-lang-list
										a.header-nav-lang-list-item(href='/') Deu
										a.header-nav-lang-list-item(href='/') Rus

				div(class='header-nav-tablet navbar-dark d-flex d-lg-none align-items-center justify-content-end')
					include ./nav-icons.pug

					button.navbar-toggler.collapsed(
						type='button'
						data-toggle='collapse'
						data-target='#navbarSupportedContent'
						aria-controls='navbarSupportedContent'
						aria-expanded='false'
						aria-label='Toggle navigation')
						span.navbar-toggler-icon