a.header-nav-item.ico._top._search(
	href='#popup-search'
	data-fancybox='')
	include ./i/search.svg
	span.screen-reader-text Search

a.header-nav-item.ico._top._exit(
	title='anatoliy1234@email.com'
	data-toggle='tooltip'
	data-placement='bottom'
	href='#')
	include ./i/exit.svg
	span.screen-reader-text Exit