a.header-nav-item.ico._top._search(
	href='#popup-search'
	data-fancybox='')
	include ./i/search.svg
	span.screen-reader-text Search

a.header-nav-item.ico._top._user(
	href='#'
	title='Personal Area'
	data-toggle='tooltip'
	data-placement='bottom'
	data-fancybox=''
	data-src='#popup-sign')
	include ./i/user.svg
	span.screen-reader-text Sign